<style type="text/css">
    .multiselect-container{
        height: 200px;
        overflow-y: scroll;
    }   



.multiselect-container>li>a>label
{
    height: 0px;

}
</style>
<script type="text/javascript" src="/js/about.js"></script>
   <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>




<div class="col-lg-12" style="padding: 0px;height: 100%;width: 99%;margin-left: 0.5%;">
<!-- Menu div start from here -->   
<div class="col-lg-12" style="padding: 5px;height: 9%;border: 1px solid #ddd;color: #fff;">
<div class="col-lg-3" style="height: 100%;padding: 0px;">
    <div class="col-lg-3" style="height: 100%;padding: 0px;">
    <label style="line-height: 2;">Start Date: </label>
   </div>
    <div class="col-lg-9" style="height: 100%;">
        <div class="col-lg-12 form-group">
                 <div class="input-group" >
            <input  type="text" id="startTime" class="form-control" >
<!---div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"id="calender1"></span>
            </div>!--->
          </div>
            </div>
        </div>
    </div>

<div class="col-lg-3" style="height: 100%;padding: 0px;">
    <div class="col-lg-3" style="height: 100%;padding: 0px;">
    <label style="line-height: 2;">End Date : </label>
   </div>
    <div class="col-lg-9" style="height: 100%;">
        <div class="col-lg-12 form-group">
                <div class='input-group'>
                    <input type='text' id="endTime" class="form-control" />
                    <!---<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" id="calender2"></span>
                    </span>!-->
                </div>
            </div>
        </div>
</div>

<div class="col-lg-2" style="height: 100%;padding: 0px;">
    <div class="col-lg-4" style="height: 100%;padding: 0px;">
    <label style="line-height: 2;">Boards : </label>
   </div>
   <div class="col-lg-8" style="height: 200px;padding: 0px;" >
    
        
  <select multiple id="Boards" data-placeholder="select Boards" style="color: #000;">
    
    
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    <option value="32">32</option>
    <option value="33">33</option>
    
  </select>
</div>


</div>
<!-- <div class="col-lg-2" style="height: 100%;padding: 0px;">
    <div class="col-lg-4" style="height: 100%;padding: 0px;">
    <label style="line-height: 2;">Locations : </label>
   </div>
   <div class="col-lg-8" style="height: 100%;padding: 0px;" >
    <select name="Locations" style="width: 80%;height: 30px;color: black;">
    
    <option value="Board-1" style="color: black">Location-1</option>
    <option value="Board-2" style="color: black">Location-2</option>
    <option value="Board-3" style="color: black">Location-3</option>
  </select>
</div>

</div> -->

<div class="col-lg-2" style="height: 100%;padding: 0px;margin-left: 10px">

    <button onclick="filteredTableData();"style="color:black;margin-top: -2px;padding: 5px">Filter Data</button>
</div>

</div>

<!-- MENU div end here -->

<!-- content Div Start from here -->
<div class="col-lg-12"  style="padding: 5px;height: 90.5%;margin-top: 0.3%;border: 1px solid #ddd;overflow-y: hidden;color: #fff;">
<div class="col-lg-6"  style="padding: 5px;height: 47.00%;margin-top: 0.3%;border: 1px solid #ddd;overflow-y: scroll;color: #fff;">
<!-- Table start from here -->
<div class="col-lg-1" style="padding: 0px;">
<button value="Export" onclick="Export()"  style="color:black;margin-left:650px;"class="fa fa-download"> Download 
</button> 
</div>
<table id="tablecontentsensor" border="1" style="width: 100%;color: #fff;text-align: center;overflow-y: scroll;">
    <thead>
        <tr style="background-color: #052354;text-align:center;">
            <th style="text-align: center;">Date</th>
            <th style="text-align: center;">Time</th>
            <th style="text-align: center;">TimeStamp</th>
            <th style="text-align: center;">BoardID</th>
            <th style="text-align: center;">Temprature</th>
            <th style="text-align: center;">Humidity</th>
            <th style="text-align: center;">Luminosity</th>
            <th style="text-align: center;">Battery Vol</th>
           
        </tr>
    </thead>
    <tbody id="tBody">
        
    </tbody>

</table>

</div>
<div class="col-lg-6"  style="padding: 5px;height:47.00%;margin-top: 0.3%;margin-left: 0%;border: 1px solid #ddd;overflow-y:hidden;color: #fff;">
<div class="col-lg-12" id="container" style="padding: 5px;"></div></div>
<div class="col-lg-6"  style="padding: 5px;height: 52.00%;margin-top: 0.3%;border: 1px solid #ddd;overflow-y:hidden;color: #fff;">
<div class="col-lg-12" id="container1" style="padding: 5px;"></div></div>
<div class="col-lg-6"  style="padding: 5px;height: 52.00%;margin-top: 0.3%;border: 1px solid #ddd;overflow-y: hidden;color: #fff;">
<div class="col-lg-12" id="container2" style="padding: 5px;"></div> </div>

</div>

<!--Content Div end to here -->


