

<div class="col-lg-12" style="padding: 5px;height: 100%;border: 1px solid #ddd;color: #fff;">
	<p style="color: white;font-size: 18px">
		1.Wireless sensor networks have wide range of application such as healthcare, environmental monitoring, industrial monitoring, etc. Sensing techniques should be smart
		such that it includes a continuous real-time monitoring and evaluation of sensor data
		for possible measurement faults.
	</p>	
	
	<p style="color: white;font-size: 18px">
		2.For continuous real-time monitoring of sensors a web-interface is developed to visualize the time-series data.
	</p>

	<p style="color: white;font-size: 18px">
		3.Failure of the system should be detected in real-time to take corrective action quickly.
	</p>

	<p style="color: white;font-size: 18px">
		4.Sensors used for continuous real-time sensing are not always reliable as sometimes faults are observed in the sensor measurements.
	</p>

	<p style="color: white;font-size: 18px">
		5.Leveraging correlation among multiple sensors, simple rule based model is developed to detect and correct faults in the sensor measurements.
	</p>

	<p style="color: white;font-size: 18px">
		6.Neural network and support vector machine based model for detecting faulty measurements, developed in this research,show better performance than correlation based technique.
	</p>
	<p style="color: white;font-size: 18px">
		7.Usually, the goal of demand-side management is to encourage the consumer to use less energy during peak hours, or to move the time of energy use to off-peak times such as nighttime and weekends
	</p>
	<p style="color: white;font-size: 18px">
	8.Governments of many countries mandated performance of various programs for demand management. An early example is the National Energy Conservation Policy Act of 1978 in the U.S., preceded by similar actions in California and Wisconsin. Demand-side management was introduced publicly by Electric Power Research Institute (EPRI) in the 1980s.
</p>
<p style="color: white;font-size: 18px">
9.Nowadays, DSM technologies become increasingly feasible due to the integration of information and communications technology and the power system, new terms such as integrated demand-side management (IDSM), or smart grid.
</p>
</div>
